<h1>Listing Orders</h1>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Customer name</th>
      <th>Customer phone</th>
      <th>Pickup datetime</th>
      <th>Pizza type</th>
      <th>Size</th>
      <th>Created on</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer_name %></td>
        <td><%= order.customer_phone %></td>
        <td><%= convert_to_formatted_datetime(order.pickup_datetime) %></td>
        <td><%= order.pizza_type.try(:name) %></td>
        <td><%= order.size %></td>
        <td><%= convert_to_formatted_datetime(order.created_at) %></td>
        <td>
          <%= link_to 'Show', order, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_order_path(order), class: "btn btn-primary" %>
          <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Order', new_order_path, class: "btn btn-success" %>

